Package: com.yourcompany.disableremotecontrol
Name: Disable Remote Control
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Максим Ефимов
Author: Максим Ефимов
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
